* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(26, 26, 26);
}
h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(114, 28, 148);
  font-weight: bolder;
}
#wrap {
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
  overflow: hidden;
  filter: drop-shadow(0px 5px 3px black);
}
#imgBox {
  width: 90%;
  overflow: hidden;
  margin: auto;
}
#images {
  width: 100%;
  display: flex;
  margin: auto;
}

.img {
  width: 100%;
}
#button {
  display: flex;
  justify-content: center;
}

.play {
  border: none;
  color: rgb(180, 219, 213);
  font-weight: bold;
  height: 30px;
  width: 6%;
  background-color: rgb(114, 28, 148);
  border-radius: 40px;
  filter: drop-shadow(0px 5px 3px black);
  cursor: pointer;
}

#play:hover {
  background-color: rgb(235, 50, 235);
}
#play:focus {
  outline: none;
}
span.arrow {
  cursor: pointer;
  position: absolute;
  color: rgb(112, 109, 109);
  font-weight: bolder;
  font-size: 50px;
  filter: drop-shadow(0px 5px 3px black);
}
#prev {
  top: 50%;
  left: 0%;
}
#next {
  top: 50%;
  right: 0%;
}
span.arrow:hover {
  color: rgb(53, 62, 143);
}

#span {
  display: flex;
  justify-content: space-between;
  width: 40%;
  height: 3%;
  position: absolute;
  left: 50%;
  margin-left: -20%;
  bottom: 2%;
  z-index: 2;
}
.photo {
  width: 15px;
  height: 15px;
  background-color: wheat;
  opacity: 0.5;
  border-radius: 100%;
  cursor: pointer;
}

.photo:hover {
  opacity: 1;
}
